<div class="uk-section" uk-grid>
  <div class="uk-width-1-1 uk-text-center">
    <h2 class="uk-margin-top">About This Project</h2>
    <hr class="uk-divider-icon">
  </div>
</div>
<div class="uk-section uk-grid-match" uk-grid>

  <div class="uk-width-1-2@m uk-padding-large uk-padding-remove-right@s uk-padding-remove-top">
    <div>
      <h4 class="uk-margin-small-left"><a class="uk-link-heading" href="{{ contents.linkaddress }}" uk-icon="icon: link" onclick="trackOutboundLink('{{ contents.linkaddress }}'); return false;" target="_blank">{{ contents.linktitle }}</a></h4>
      <table class="uk-table uk-table-striped">
        {% for row in contents.siteinfo %}
        <tr>
          <td class="uk-text-bold">{{ row.title }}</td>
          <td>{{ row.content }}</td>
        </tr>
        {% endfor %}
      </table>
      <div class="uk-margin-top uk-margin-left">
        {% for paragraph in contents.longdescription %}
          <p>{{ paragraph }}</p>
        {% endfor %}

      </div>
    </div>
  </div>
  <div class="uk-width-1-2@m">
    <img class="uk-width-1-1" style="border: 1px solid #777" src="assets/img/{{ contents.image }}" alt="Screenshot">
  </div>
