{% extends 'base.twig' %}
{% block primarycontent %}
<header>
  <div class="pageTopImage">

  </div>
</header>

<main>
  <div class="pageHeading">
    <h1 class="bigTitle">
      <span id="contact_c">C</span><span id="contact_o">O</span><span id="contact_n">N</span><span id="contact_t">T</span><span id="contact_a">A</span><span id="contact_c">C</span><span id="contact_t">T</span></h1>
      <div class="pageTagline__container">
        <h2 id="projectsTagline" class="pageTagline">How To Reach Me</h2>
        <!-- <h2 class="pageTagline__helper" aria-hidden="true">I. Theme. In. Drupal</h2> -->
      </div>
    <p></p>
  </div>
  <div class="contactContainer">
    <ul class="noList noListBlock contactGrid">
      {% for contact in contacts %}
      <li class="infoCard contactCard">
        <a class="no-border" href="{{ contact.linkaddress }}" onclick="trackOutboundLink('{{ contact.linkaddress }}'); return false;" target="_blank"><span class="icons contactIcon" id="{{ contact.method }}"></span>
        </a>
        <h2 class=""><a class="" href="{{ contact.linkaddress }}" onclick="trackOutboundLink('{{ contact.linkaddress }}'); return false;" target="_blank">
        {{ contact.title }}</a></h2>
      </li>
      {% endfor %}
    </ul>
  </div>

</main>

{% endblock %}
