{% extends 'base.twig' %}

{% block primarycontent %}
<div class="uk-section uk-margin-top" uk-grid>
  <div class="uk-width-1-1 uk-width-3-4@m uk-padding-large uk-padding-remove-right uk-padding-remove-top">
    <h2 class="uk-margin-small-left">About Me</h2>
    <div class="uk-column-1-2@s uk-margin-small-left">
      <p>Hi, I'm Rob Lahoda. I'm a front-end web designer specializing in Drupal with a diverse skillset including video production, graphic design, photography, and more. Thanks to my background I am strongly positioned to help my projects succeed from start to finish.</p>
      <p>I'm not only skilled in designing impactful and compelling sites, but I'm also able to build the theme to bring that design to life. Once the site is live, I'm able to work with my clients to produce and utilize media and information to maximize effectivenes and impact for their target needs.</p>
      <p>I love working closely with my clients to understand their needs and help them build a solution that covers not only their initial needs but will be able to grow and change with them as their needs change.</p>
      <p>I have a love of learning so I'm constantly expanding and improving my skillset to allow me to find the most effective technology and techniques for every project I work on. I learn new skills quickly which helps me to stay current with the fast pace of the world front-end web design.</p>
      <p>I'm never satisfied with meeting my client's needs. I try to find ways to exceed their ideas and help them achieve more than they thought they would through the project.</p>
    </div>
    <div class="uk-margin-top">
      <h2 class="uk-margin-small-left">Projects</h2>
      {% for site in contents %}
      <div class="uk-card uk-card-hover uk-card-default uk-width-1-1 uk-child-width-1-2@s uk-margin-remove" uk-grid>
      {% if loop.index is odd %}
        <div style="border: 1px solid #777; background-image: url(assets/img/{{ site.image }}); background-position: top; background-repeat: no-repeat; background-size: cover;" class="uk-card-media-left">
        </div>
        {% endif %}
        <div class="uk-card-body">
          <h2 class="uk-card-title">{{ site.title }}</h2>
          <h4><a class="uk-link-heading" href="{{ site.linkaddress }}" uk-icon="icon: link" onclick="trackOutboundLink('{{ site.linkaddress }}'); return false;" target="_blank">{{ site.linktitle }}</a></h4>
          <table class="uk-table uk-table-striped">
            {% for row in site.siteinfo %}
            {% if loop.first %}
            <tr>
              <td class="uk-text-bold">{{ row.title }}</td>
              <td>{{ row.content }}</td>
            </tr>
            {% else %}
            <tr class="uk-visible@s">
              <td class="uk-text-bold">{{ row.title }}</td>
              <td>{{ row.content }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>
          <a class="uk-margin-top uk-label" href="{{ site.locallink }}" uk-icon="icon: chevron-right">Read More About This Project</a>
        </div>
        {% if loop.index is even %}
        <div style="border: 1px solid #777; background-image: url(assets/img/{{ site.image }}); background-position: top; background-repeat: no-repeat; background-size: cover;" class="uk-card-media-right">
        </div>
        {% endif %}
      </div>
      <p></p>
      {% endfor %}
    </div>
  </div>
  <div id="skills" class="uk-width-1-1 uk-width-1-4@m">
    <div class=""><div class="uk-width-1-1">
      <h2>Skills</h2>
    </div>
    <div class="uk-width-1-1 uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-1@m" uk-grid>

      <div>
      <h3 class="uk-margin-remove-top">Experience Level ⭐⭐⭐</h3>
      <ul class="uk-list uk-list-striped uk-margin-remove-top">
        {% for skill in skills.threestars %}
          <li class="uk-text-small">{{ skill }}</li>
        {% endfor %}
      </ul></div>

      <div><h3 class="uk-margin-remove-top">Experience Level ⭐⭐</h3>
      <ul class="uk-list uk-margin-remove-top uk-list-striped">
        {% for skill in skills.twostars %}
          <li class="uk-text-small">{{ skill }}</li>
        {% endfor %}
      </ul></div>

      <div><h3 class="uk-margin-remove-top">Experience Level ⭐</h3>
      <ul class="uk-list uk-list-striped uk-margin-remove-top">
        {% for skill in skills.onestar %}
          <li class="uk-text-small">{{ skill }}</li>
        {% endfor %}
      </ul></div>
    </div></div>
  </div>
</div>
{% endblock %}
